*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing:border-box;
}

body{
    background-image: url(imgs/home-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: Helvetica ;
    
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    position: fixed;
    color:rgb(255, 255, 255);
    font-size: 30px;
    line-height: 80px;
    
}

nav ul{
    float: right;
    margin-right: 0px;
}
nav ul li{
    display :inline-block;
    line-height:80px;
    margin: 0 5px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    padding: 6px 13px;
    font-size: 14px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.hover{
    color: white;
}
a.active,a:hover{
    background: #b60101;
    transition: .5s;
    
}

.checkbtn{
    font-size: 25px;
    color: #b60101;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 0px;
    }
    nav ul li a {
        font-size: 16px;
    }

}
@media (max-width: 952px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 33, 122);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}

section{
    background: url(background.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
  
/* Footer */

.footer {
  position:fixed;
  text-align: center;
  bottom:0;
  left:0;
  width:100%;
  height: 60px;
  background-color: #0082e6;
}

/* Facebook */
.fa-facebook {
    color: white;
  }


/* twitter */
.fa.twitter{
    color: white;

}
/* container size*/
  .container {
    width: 700px;
    margin: 0 auto;
    padding: 30px 24px;

  }

  #our-story {
    color:white ;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(170, 158, 158, 0.8);
  }
  

/* for food award main text*/
#food-award {
    color: white;
    border-radius: 30px;
    background-color: rgb(170, 158, 158, 0.8);
    text-align: center;
}
/* for food award link text*/
#food-link { 
    color: #000000;
}



  /* for homepage food award image */
  #food-award-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10rem;
  }

/* for FAQ page*/

  .wrapper{
    max-width: 75%;
    margin: auto;
  }


  .wrapper > h1{
    margin: 1.5rem 0;
    text-align:center;
  }
 
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
    letter-spacing: 1px;
  }

.accordion{
    background-color: rgba(170, 158, 158, 0.8);
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.accordion i {
    font-size: 1.6rem;
}
.panel{
    padding: 0 18px;
    background-color: #ccc;
    overflow: hidden;
    display: none;
    padding: 0 2rem 2.5rem 2rem;
  }
.panel p {
    font-size: 1.2rem;
    line-height: 1.4;
}
.faq{
    border: 1px solid;
    margin: 10px 0;
}
.faq.active{
    border: none;
}

/* end of FAQ page*/



  /* for contact us page*/

  .container-faq{
    width: 80%;
    margin: 50px auto;
  }
.contact-box{
background-color:rgba(170, 158, 158, 0.8);
display: flex;
}
.left-box{
    flex-basis: 60%;
    padding: 40px 60px;
}
.right-box{
    flex-basis: 40%;
    padding: 40px;
    background-color: #0082e6;
    color: white;
}
.container-faq >h1{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color:#0082e6 ;
}
 #faq-button{
    background-color: #0082e6;
    width: 50px;
    border: none;
    outline: none;
    color: #fff;
    height:20px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
 }
 .left-box h3{
    color: #0082e6;
    margin-bottom: 30px;
 }

 .right-box h3{
    margin-bottom: 30px;
 }

 tr td:first-child {
    padding-right: 20px;
 }
 tr td{
    padding-top: 20px ;
 }
/*end of contact us page*/